.banner {
    padding: 40px 50px 0 50px;
    display: flex;
    align-items: center;
    gap: 60px;
  }
  
  .banner-image {
    width: 55%;
    height: 873px;
  }
  
  .banner-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .banner-text {
    width: 40%;
  }
  
  .banner-text-title {
    font-size: 70px;
  }
  
  .banner-text-title span {
    font-size: 80px;
    font-weight: 700;
  }
  
  .banner-text img {
    margin-top: 74px;
  }